-i https://pypi.org/simple/
django-annoying==0.10.6
django-appconf==1.0.4
django-imagekit==4.0.2
django==2.2.21
gunicorn==20.0.4
pilkit==2.0
pillow==7.0.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
whitenoise==5.0.1
