-i https://pypi.org/simple/
django-annoying==0.10.6
django-appconf==1.0.4
django-imagekit==4.0.2
django==2.2.4
gunicorn==20.0.4
pilkit==2.0
pillow==8.1.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
whitenoise==5.0.1
